body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

/*
___________________________________________
          STILE PER I BANNER
___________________________________________
*/

/*Immagini Banner (Logo. Full height)*/
.bgimg-banner {
  background-image: url('../Immagini/Banner.png');
  min-height: 65%;
  background-position: center;
  background-size: cover;
}

.bgimg-VocaboLorro {
  background-image: url('../Immagini/SuperDoge.jpg');
  min-height: 65%;
  background-position: center;
  background-size: cover;
}

/*Testo in posizione centrale sulle immagini*/
.centeredImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Immagine laterale per i credits*/
.sideImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Immagini/VerticalPizza.jpg");
  min-height: 100%;
}

/*
___________________________________________
      Stile nella pagina Nickquotes
___________________________________________
*/

.bgimg-Nickquotes {
  background-image: url('../Immagini/Candela.jpg');
  min-height: 65%;
  background-position: center;
  background-size: cover;
}

.stileNickquotes {
  font-family: 'Brush Script MT', cursive;
  letter-spacing: 10px;
  font-size: 35px;
}

.coloresfondo{
  background: #1D1F20;
}
